body {
    background-color: #111; /* Darker background color for the form */
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    margin: 0;
  }

  .login-container {
    margin: 0 20px;
    flex: 1;
    background-color: black; /* Dark background color */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    max-width: 600px;
    height: fit-content;
  }
  
  .login-form {
    color: #0a0; /* Green text color */
    display: flex;
    flex-direction: column;
  }
  
  .login-form label {
    display: block;
    margin-bottom: 10px;
  }
  
  .login-form input[type="text"],
  .login-form input[type="password"],
  .login-form input[type="submit"] {
    flex: 1;
    padding: 10px;
    margin-bottom: 10px;
    border: none;
    border-radius: 5px;
  }
  
  .login-form input[type="submit"] {
    background-color: #0a0; /* Green button background color */
    color: white;
    cursor: pointer;
    margin-top: 20px;
  }
  
