<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>You're not welcome</title>
    <link rel="stylesheet" href="/css/home.css">
</head>

<body>
    <div class="image-container">
        <img src="/images/hacking.png" alt="">
    </div>
    <div class="terminal-container">
        <div class="terminal">
            <form class="prompt" action="/comment" method="post">
                <label for="prompt">~/root #</label>
                <input name="prompt" id="prompt" class="block" />
            </form>
            <div class="comment-container">

            </div>
        </div>
    </div>

</body>

</html>

